@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

main {
  padding-top: 80px;
}

.back-top {
  position: fixed;
  width: 35px;
  height: 35px;
  font-size: 20px;
  bottom: 20px;
  right: 20px;
  background: #F58A07;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
  justify-content: center;
  align-items: center;
}

.show__back-top {
  display: flex;
}

.dropdown {
  position: relative;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
.dropdown__text {
  font-size: 16px;
  font-weight: 500;
}
.dropdown__icon {
  font-size: 14px;
  display: inline-block;
  transition: 0.8s;
}
.dropdown__list {
  position: absolute;
  width: 100%;
  top: 110%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: scale(0);
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.dropdown__list__item {
  border-radius: 2px;
  padding: 5px;
}
.dropdown__list__item:hover {
  background: #F58A07;
  color: #FFFFFF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #FFFFFF;
  color: #394149;
}
.header .header__navbar {
  justify-content: space-between;
  padding: 10px 0;
}
.header__logo {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__list {
  gap: 20px;
}
.header__item {
  font-weight: 600;
  padding: 4px 0;
  transition: 0.3s;
}
.header__item:hover {
  color: #F58A07;
}
.header__btn__sigin {
  background: rgba(245, 138, 7, 0.1019607843);
  color: #F58A07;
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.header__btn__sigin:hover {
  color: #FFFFFF;
  background: #F58A07;
}
.header__item--close {
  font-size: 20px;
  color: red;
  display: none;
  cursor: pointer;
}
.header__hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: #FFFFFF;
}
.header__hamburger span {
  width: 25px;
  height: 3px;
  background: #394149;
  border-radius: 2px;
}

.show__header__shrink {
  padding: 0;
  box-shadow: 0px 0px 10px #F58A07;
  background: #FFFFFF;
}

@media (max-width: 850px) {
  .header__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    background: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px #F58A07;
    transition: 0.5s;
    z-index: 9999;
  }
  .header__hamburger {
    display: flex;
  }
  .header__show__list {
    left: 0;
  }
  .header__item--close {
    position: absolute;
    display: block;
    color: red;
    top: 15px;
    right: 20px;
  }
  .header__show__left {
    left: -100%;
  }
}
@media (max-width: 340px) {
  .header__list {
    width: 80%;
  }
}
.process {
  padding: 80px 0;
  background: #DCEAF5;
}
.process__container {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}
.process__left, .process__right {
  width: calc(50% - 30px);
}
.process__avatar {
  display: flex;
  align-items: center;
}
.process__avatar p {
  padding-left: 20px;
  font-size: 18px;
  line-height: 20px;
}
.process__title {
  padding: 24px 0;
  font-size: 64px;
  line-height: 72px;
  color: #394149;
}
.process__desc {
  font-size: 18px;
  line-height: 36px;
  color: #394149;
  opacity: 0.9;
}
.process__link {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: orange;
}
.process__right img {
  width: 100%;
}

.overall__link {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: orange;
}

@media (max-width: 1250px) {
  .process__title {
    font-size: 40px;
    line-height: 45px;
  }
  .process__link {
    padding-top: 15px;
  }
}
@media (max-width: 1120px) {
  .process__avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .process__avatar p {
    padding-left: 8px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 900px) {
  .process__title {
    padding: 15px 0;
    font-size: 28px;
    line-height: 30px;
  }
  .process__desc {
    font-size: 16px;
    line-height: 20px;
  }
  .process__link {
    padding-top: 8px;
  }
}
@media (max-width: 750px) {
  .process {
    padding: 20px;
  }
  .process__container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .process__left, .process__right {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .process__title {
    padding: 10px 0;
    font-size: 20px;
    line-height: 22px;
  }
  .process__desc {
    font-size: 16px;
    line-height: 18px;
  }
  .process__link {
    padding-top: 8px;
  }
  .process__avatar p {
    padding-left: 5px;
    font-size: 14px;
    line-height: 18px;
  }
}
.all-posts__title {
  padding-top: 128px;
  padding-bottom: 64px;
  font-weight: 600;
  line-height: 56px;
  font-size: 48px;
}
.all-posts__cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.all-posts__card {
  width: calc(33% - 26.6px);
  background: #EDF7FF;
  border-radius: 20px;
}
.all-posts__card img {
  width: 100%;
}
.all-posts__card__title {
  padding-left: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding-top: 32px;
  padding-bottom: 16px;
}
.all-posts__card__text {
  padding-left: 32px;
  font-weight: 500;
  line-height: 28px;
  color: #5B5B5B;
}
.all-posts__card__link {
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.04px;
  padding-bottom: 32px;
}

@media (max-width: 1110px) {
  .all-posts__cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  .all-posts__card {
    width: calc(50% - 20px);
    background: #EDF7FF;
    border-radius: 20px;
  }
  .all-posts__card img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .all-posts__cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  .all-posts__card {
    width: 100%;
    background: #EDF7FF;
    border-radius: 20px;
  }
  .all-posts__card img {
    width: 100%;
  }
}
.footer {
  background-color: #063255;
  padding: 50px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__title {
  color: #FFFFFF;
  font-size: 30px;
}
.footer__socials {
  display: flex;
  gap: 20px;
}
.footer__lists {
  display: flex;
  gap: 100px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__t {
  color: #FFFFFF;
}
.footer__item {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  transition: 0.4s;
}
.footer__item:hover {
  color: #F58A07;
}
.footer__frame {
  display: flex;
  flex-direction: column;
}
.footer__frame h3 {
  color: #FFFFFF;
  padding-bottom: 20px;
  font-size: 20px;
}
.footer__frame form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer__frame button {
  background: rgba(245, 138, 7, 0.1019607843);
  color: #F58A07;
  font-size: 16px;
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.footer__frame button:hover {
  color: #FFFFFF;
  background: #F58A07;
}
.footer__input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 25px;
  color: #5B5B5B;
}
.footer__frame__input {
  width: 300px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.footer__bottom p {
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .footer__top {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 650px) {
  .footer__bottom {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .footer__lists {
    flex-direction: column;
  }
  .footer__title {
    font-size: 25px;
  }
  .footer__frame__input {
    width: 200px;
  }
}